#hex-start{
    margin-top:-65px;
    margin-right: 40px;

}

#hex-html{

}
#hex-css{
    opacity:0.8;
}
#hex-home{
    margin-top: -65px;
    float: left;
    opacity: 0.8;
}
#hex-PM{
    margin-left: 40px;
    float:left;
}
#hex-DOM{
    float:left;
}