.hexagon-lg {
    width: 80px;
    height: 40px;
    position: relative;
    color:#000000;
    background: red;
    text-align: center;
    line-height: 40px;
    opacity: 0.5;
    transition: 0.5s;
}
.hexagon-lg:before {
    content: "";
    position: absolute;
    top: -25px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-bottom: 25px solid red;
}
.hexagon-lg:after {
    content: "";
    position: absolute;
    bottom: -25px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-top: 25px solid red;
}

.hexagon-lg:hover{
    color:#ffffff;
    opacity:1;

}


.hexagon-sm {
    width: 40px;
    height: 20px;
    position: relative;
    color:#000000;
    background: red;
    text-align: center;
    line-height: 20px;
    opacity: 0.5;
    transition: 0.5s;
}



.hexagon-sm:before {
    content: "";
    position: absolute;
    top: -15px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 15px solid red;
}
.hexagon-sm:after {
    content: "";
    position: absolute;
    bottom: -15px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 15px solid red;
}

.hexagon-sm:hover{
    color:#ffffff;
    opacity:1;

}