* {
	font-family: "微软雅黑";
	font-size: 14px;
	margin: 0;
	padding: 0;
}

body {
	background: #eaeaea url('../images/bg.png');
}

ul, ol, li {
	list-style: none;
}
.clearfix:after{
	content: '';
	display: block;
	font-size: 0;
	line-height: 0;
	clear: both;
}
.no-select {
	user-select: none;
	-webkit-user-select: none;
}

header {
	line-height: 200px; 
	text-align: center;
	font-size: 80px;
	color: #b3b3b3;
	padding-top: 50px;
	cursor: default;
}

main {
	width: 600px;
	padding: 0px 100px;
}

footer {

	text-align: center;
	font-weight: bold;

}

#container {
	width: 800px;
	margin: 0 auto;
}

#screen {
	display: inline-block;
	margin: 0 auto;
	padding: 4px 0px;
	background-color: #fff;
	border-radius: 6px;
}


#input {
	width: 600px;
	min-height: 45px;
	height: auto;
	border: none;
	font-size: 24px;
	color: #b3b3b3;
	
	direction: rtl;
	line-height: 45px;
	word-wrap: break-word;

	transition: 0.37s;
}

#input:focus{
	outline: none;
	background-color: #eee;


	transition: 0.37s;
}

.item {
	width: 140px;
	line-height: 40px;
	text-align: center;
	font-size: 24px;
	float: left;
	margin: 0px 5px;
	
	background-color: #fff;
	
}

.btn {
	
	cursor: pointer;
	transition: 0.37s;
	
}

.btn:hover {

	user-select: none;
	-webkit-user-select: none;
}

#fixed-keyboard {
	margin-top: 8px; 
}


#blackboard {
	width: 560px;
	height: 100px;
	background-color: #000;
	margin-top: 10px;
	padding: 150px 20px;

	text-align: left;
	
	color: #fff;
	font-size: 32px;
	word-wrap: break-word;
	
}

#confirm {
	width: 600px;
	height: 50px;
	display: block;
	margin: 0 auto;
}